body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    background: url(wallpaper004.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar{
        background: url(wallpaper004.jpg);
        background-position: center;
    }

h2{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    justify-content: space-evenly;
    background-color: skyblue;
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
}

.items{
    background-color: deepskyblue;
    border: 1px solid black;
    text-align: center;
    width: 35vw;
    margin: 10px;
    height: 100px;
    font-size: 1.5em;
    font-weight: 550;
    padding: 10px;
}

i {
    float: right;
    margin-top: 10px;
}

.login{
    justify-content: space-evenly;
    background-color: skyblue;
    display: flex;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
}

#js {
    background-color: yellow;
}

#html{
    background-color: rgb(253, 182, 50);
}

#login{
    background-color: rgb(162, 101, 219);
}

footer{
    margin-top: 100px;
    background-color: rgb(72, 127, 228);
    padding: 10px;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 5px;
    margin: 10px;
}